backend/serviceAccountKey.json
routes/serviceAccountKey.json
saloonapp-227b0-firebase-adminsdk-*.json
backend/serviceAccountKey.json
routes/serviceAccountKey.json
saloonapp-*-firebase-adminsdk-*.json

node_modules
.env
.env.*
uploads
dist
coverage
*.log

